body {
  background-color: #DBDEE7;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

header {
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

header img {
  height: 120px;
  width: auto;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  background-color: transparent;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

header nav ul li a .Home,
header nav ul li a .About,
header nav ul li a .Catalog,
header nav ul li a .Contact,
header nav ul li a .Login 
header nav ul li a .logout{
  margin-right: 80px;
  margin-left: 40px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  padding: 100px 100px;
  box-sizing: border-box;
}

section.Home {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  max-width: 90%;
  margin-bottom: 180px;
  text-align: left;
}

.Home h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #000;
}

.Home h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #000;
}

.cta-button,
.ctb-button,
.submit-button {
  padding: 12px 24px;
  border: 2px solid black;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 50px;
}

.ctb-button {
  margin-left: 60px;
}

.cta-button:hover,
.ctb-button:hover,
.submit-button:hover {
  background-color: #00ffff;
  color: #000;
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 255, 255, 0.4);
}

.typing {
  border-right: 2px solid #00ffff;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: blink 0.4s step-end infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.image-content {
  max-width: 70%;
  display: flex;
  justify-content: flex-end;
}

.image-content img {
  max-width: 90%;
  height: auto;
  margin-bottom: 190px;
}

.img-logo {
  height: 120px;
  width: auto;
}

.About {
  background-color: #C2C6D2;
  color: #000;
  text-align: center;
}

.about-container {
  max-width: 1000px;
  margin: 0 auto;
}

.about-container h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 1.2rem;
  line-height: 1.8;
}

.about-image {
  width: 60%;
  height: auto;
  margin-top: 40px;
  border-radius: 20px;
}

.Catalog {
  background-color: #B2B5C4;
  color: #000;
  text-align: center;
}

.catalog-container {
  max-width: 1100px;
  margin: 0 auto;
}

.catalog-container h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.product-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  background-color: white;
  color: #000;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.product-card h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  text-align: center;
}

.product-card p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.Contact {
  background-color: #9CA0B1;
  color: #000;
  text-align: center;
}

.contact-container {
  max-width: 800px;
  margin: 0 auto;
}

.contact-container h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}

.contact-form label {
  font-weight: bold;
  text-align: left;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

.contact-form textarea {
  resize: vertical;
  height: 120px;
}

/* Carrossel */
.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 0 20px  white;
}

.carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-images img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  display: none;
  transition: opacity 0.5s ease-in-out;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;
  z-index: 10;
  transition: background-color 0.3s;
}

.carousel button:hover {
  background-color: rgba(0, 255, 255, 0.6);
}

.carousel .prev {
  left: 10px;
}

.carousel .next {
  right: 10px;
}

.smart-device,
.paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.smart-device img,
.paragraph img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.smart-device h3,
.paragraph h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.smart-device p,
.paragraph p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 10px;
}

html{
  scroll-behavior: smooth;
}